<div class="popup-wrapper">
  <div id='popup-container'>
    <p><a herf="javascript:void(0)" onclick="toggle_visibility('contact-popup');">X</a></p>
    <h2>Create New User</h2>

    <form action= '/users' method="post">
      <label for="name">Full Name:</label><br>
      <input type="text" name="name" ><br>
      <label for="email">Email:</label><br>
      <input type="email" name="email"><br>
      <label for="username">Username:</label><br>
      <input type="text" name="username" ><br>
      <label for="password">Password</label><br>
      <input type="password" name="password"><br>
      <input type="submit"value="Create New User">

    </form>
  </div>
</div>
