/* VARIABLES */

:root {
  /* colors */
  --black: #0D0106;
  --dark-red: #96222E;
  --white: #FCFCFC;
  --gray: #E0E2DB;
  --dark-gray: #56555F;
  --silver: #C1C1C1;
}

body {
  background: var(--silver);
  margin-top: 75px; /*to allow sticky header*/
  font-family: 'Inria Serif', serif;
  min-height: 92vh;
  height: 98%;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
    position: relative;
}

a {
  color: var(--dark-red)
}

a:hover {
  color: var(--dark-red)
}

/* NAVBAR */

.nav-red {
  background: var(--dark-red);
  color: var(--white);
}

#username_nav {
  align-self: center;
}

#nav-logo {
  height: 35px;
}

/* MAIN PAGE */
.subheader-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subheader {
  width: 70%;
  background-color: var(--white);
  padding: 1em;
  border: 5px solid var(--dark-red);
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 0 1em 0;
  justify-content: center;
  text-align: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 99%;
}

/* SEARCH FORM */
.form-input-container {
  background: var(--dark-red);
  color: var(--white);
  /* border: 5px solid black; */
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.input-1 {
  width: 80%;
  margin: 0;
  padding: 0;
}

/* business results*/
.business-results-container {
  width: 88%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0 2em 0;
}

.business-result {
  width: 30%;
  min-width: 300px;
  height: 150px;
  border: 5px solid var(--dark-red);
  border-radius: 3px;
  background: var(--white);
  margin: .6em;
  padding: .2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.business-result a {
  color: var(--black);
}

.business-result a:hover {
  color: var(--dark-red);
}

.popular-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.popular-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

/* RESTAURANT SHOW PAGE */
.all-ratings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.rating {
  width: 70%;
  background-color: var(--white);
  padding: 1em;
  /* border: 1px solid var(--dark-gray); */
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 0 1em 0;
  justify-content: center;
  text-align: center;
}

.rating a {
  color: var(--dark-red);
}

/* .dish-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */

.stars {
  color: var(--dark-red);
  align-self: center;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.star-div {
  margin-bottom: 1em;
}

.stars2 {
  padding-left: .5em;
}

.individual-review {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--silver);
  padding: .5em 0 .5em 0;
}

.individual-review * {
  margin: 0;
}

.myDIV {
  display: none;
}

.showMyDIV {
  display: block;
}

/* MODAL */
/* A Dark Overlay that sits between the main page and the modal so the Modal pops out */
.popup-position {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
  }

/* The Modal Wrapper    */

#popup-wrapper{
  text-align: left;
}

/* The Modal Container */
#popup-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#popup-container h2 {
  width: 90%;
}

.loginsignup input[type=submit] {
  margin-top: 1em;
}

.pointer:hover{
  cursor: pointer;
  align-self: flex-end;
}

.modal-form * {
  margin: 5px;
}

.modal-form input[type=submit] {
  background: var(--dark-red);
  color: white;
  font-size: 1.2em;
}

/* FOOTER */
.footer {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 2em;
  /* padding-top: 0px; */
  background-color: var(--dark-red);
  color: black;
  border-top: 1px solid black;
  margin: 0;
}

.footer p {
  margin: 0;
  color: var(--gray);
}

.footer a {
  color: var(--gray);
  text-decoration: underline;
}
