/* VARIABLES */

:root {
  /* colors */
  --black: #0D0106;
  --dark-red: #96222E;
  --white: #FCFCFC;
  --gray: #E0E2DB;
  --dark-gray: #56555F;
  --silver: #C1C1C1;
}

body {
  background: white;
  margin-top: 75px; /*to allow sticky header*/
  font-family: 'Inria Serif', serif;
  min-height: 92vh;
  height: 98%;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
    position: relative;
}

/* NAVBAR */

.nav-red {
  background: var(--dark-red);
  color: var(--white);
}

#username_nav {
  align-self: center;
}

#nav-logo {
  height: 35px;
}

/* MAIN PAGE */
.subheader-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subheader {
  width: 70%;
  background-color: var(--silver);
  padding: 1em;
  /* border: 1px solid var(--dark-gray); */
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 0 1em 0;
  justify-content: center;
  text-align: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 99%;
}

/* SEARCH FORM */
.form-input-container {
  background: var(--dark-red);
  color: var(--white);
  /* border: 1px solid black; */
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.input-1 {
  width: 80%;
  margin: 0;
  padding: 0;
}

/* business results*/
.business-results-container {
  width: 88%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0 2em 0;
}

.business-result {
  width: 30%;
  height: 150px;
  border: 1px solid black;
  border-radius: 3px;
  background: var(--silver);
  margin: 0 0 1em 0;
  padding: .2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.business-result a {
  color: var(--black);
}

.business-result a:hover {
  color: var(--dark-red);
}

/* FOOTER */
.footer {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 2em;
  /* padding-top: 0px; */
  background-color: var(--dark-red);
  color: black;
  border-top: 1px solid black;
  margin: 0;
}

.footer p {
  margin: 0;
  color: var(--gray);
}

.footer a {
  color: var(--gray);
  text-decoration: underline;
}
