<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
  <%- include ('../partials/nav.ejs') %>

    <h1>Create New User</h1>

    <form action= '/users' method="post">
      <label for="name">Full Name:</label>
      <input type="text" name="name" ><br>
      <label for="email">Email:</label>
      <input type="email" name="email"><br>
      <label for="username">Username:</label>
      <input type="text" name="username" ><br>
      <label for="password">Password</label>
      <input type="password" name="password"><br>
      <input type="submit"value="Create New User">

    </form>
    <div class='signuplogin'>
      <!-- I want to add a pop up module to log in or create an account -->
      <a href="/users/login">Log In</a>
    </div>

    <%- include ('../partials/jquery.ejs') %>
  </body>
</html>
