<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <h1> Add a new dish for <%=restaurant_name%> </h1>
    <form action="/restaurants/<%=restaurant_id%>/newdish" method="post">
      <label for="dish_name">Dish Name:</label>
      <input type="text" name="dish_name" required/><br>
      <label for="stars">Stars: </label>
      <select name='stars' required>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select><br>
      <label for="review_text">Notes: </label>
      <input type="text" name='review_text' placeholder="optional"/><br>
      <input type="submit" value="Submit New Dish">
    </form>
  </body>
</html>
